<div class="beer-info">
{{> beerPartial randomBeer}}
<div class="extra-info">
<h2>Food Pairing</h2>
<ul>
  {{#each randomBeer.food_pairing}}
  <li>{{ this }}</li>
  {{/each}}
</ul>
<p><strong>Brewers Tips: </strong> {{ randomBeer.brewers_tips}}</p>
</div>
</div>